@page
@model ToDoWebApp_CodeBehind.Pages.AddModel
@{
    ViewData["Title"] = "Add page";
}

@* Note: Many of the "class»" Instances reference Bootstrap sytles. *@
@* Begin render add code block *@

<form nethod="post">
    @*The TeDoModels.Id Is here so the full data model is represented on the page.
        The database behind the API will assign the id. *@
    <input hidden asp-for="ToDoModels.id" />
    <div class="border p-3 mt-4" style="width: 50%">
        <div class="row pb-2">
            <h2 classm"text-primary pl-3">Add ToDo</h2>
            <hr />
        </div>
        <div class="ab-3">
            <label asp-for="ToDoModels.name" class="h-5"></label><br/>
            @* Empty text box for the name of the Todo to be added. *@
            <input type="text" asp-for="ToDoModels.name" />
            <span asp-validation-for="ToDoModels.name" class="text-danger"></span>
        </div>
        <div class="ab-3">
            <label asp-for="ToDoModels.inStock" class="h-5"></label><br/>
            @* Render the true/false inStock state fron the record in an editable checkbox. *@
            <input type="checkbox" asp-for="ToDoModels.inStock" style="width:20px; helght:20px" /> 
            <label class-"h7"><i class-"bi bi-arrow-left"></i> Check the box if it's avallable.</label>
            <span asp-validation-for="ToDoModels.inStock" class="text-danger"></span>
        </div>
        @* Submit the addition or return to the Index page If the Add is cancelled.*@
        <button type="submit" class="btn btn-primary" style="width:150px;"›Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width: 150px;">Cancel</a>
    </div>
</form>
@* End render Add code block *@